{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}        
{% if articles %}
{% for article in articles %}        
    {% if loop.index == 1 %}
     <section id="content" class="body">
        <aside id="featured"><article>
                <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url
                }}">{{ article.title }}</a></h1> 
                <footer class="post-info">
                        <abbr class="published" title="{{ article.date.isoformat() }}">
                                Publié le {{ article.date.strftime('%d/%m/%Y &agrave; %H:%M') }}
                        </abbr>

                        {% if article.author %}
                        <address class="vcard author">
                                Par <a class="url fn" href="#">{{ article.author }}</a>
                        </address>
                        {% endif %}
                <p>Dans <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>. {% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">télécharger le PDF</a>{% endif %}</p>
                {% include 'taglist.html' %}
                </footer><!-- /.post-info -->
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Lire la suite...</a>

        </article></aside><!-- /#featured -->
        {% if loop.length  > 1 %}
                <h1>Autres articles</h1>
                <hr />
                    <ol id="posts-list" class="hfeed">
        {% endif %}
    {% else %} 
        <li><article class="hentry">    
                <header>
                        <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalien vers «{{ article.title|striptags }}»">{{ article.title }}</a></h1>
                </header>
                
                <div class="entry-content">
                <footer class="post-info">
                        <abbr class="published" title="{{ article.date.isoformat() }}">
                                Publié le {{ article.date.strftime('%d/%m/%Y &agrave; %H:%M') }}
                        </abbr>

                        <address class="vcard author">
                                Par <a class="url fn" href="#">{{ article.author }}</a>
                        </address>
                        <p> Dans <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></p>
                        {% include 'taglist.html' %}
                    <p>{% if PDF_PROCESSOR %}<a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>{% endif %}</p>
                </footer><!-- /.post-info -->
                {{ article.summary }}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Lire la suite...</a>
                </div><!-- /.entry-content -->
        </article></li>
    {% endif %}
{% endfor %}
</ol><!-- /#posts-list -->
</section><!-- /#content -->
{% else %}
<section id="content" class="body">    
<h2>Pages</h2>
{% for page in pages %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</section>
{% endif %}
{% endblock content %}
